<div class="section">
  <h2 class="text-center mb-5">Projects</h2>

  <!-- Project 1 -->
  <div class="mb-5">
    <h4 class="text-light">📌 Campus Recruitment Management System (Web Application)</h4>
    <p><strong>Technologies:</strong> HTML, CSS, JavaScript, Bootstrap, Java, JDBC, J2EE, MySQL</p>
    <p>
      Developed a platform to streamline campus hiring by automating job postings, applications, and interview scheduling. 
      Achieved a more efficient recruitment process, collaborated with a team, and optimized system workflows for better usability.
    </p>
    <p style="visibility: hidden;">
      🔗 <a href="https://github.com/narasimha-peddanagalla/campus-recruitment-system" target="_blank">GitHub Repo</a>
    </p>
  </div>

  <!-- Project 2 -->
  <div class="mb-5">
    <h4 class="text-light">📌 Online Payment Fraud Detection (Machine Learning)</h4>
    <p><strong>Technologies:</strong> Python, XGBoost, Scikit-learn, Pandas, NumPy, Matplotlib, Seaborn, Google Colab</p>
    <p>
      Developed a machine learning model to predict fraud rates in online transactions using XGBoost.
      Aimed to enhance digital payment security by identifying high-risk transactions through data-driven insights.
      Improved model accuracy with feature selection and robust data pre-processing strategies.
    </p>
    <p style="visibility: hidden;">
      🔗 <a href="https://github.com/narasimha-peddanagalla/payment-fraud-detection" target="_blank">GitHub Repo</a>
    </p>
  </div>

  <!-- Project 3 -->
  <div class="mb-5">
    <h4 class="text-light">📌 E-Commerce Shopping Cart with Django (Web Application)</h4>
    <p><strong>Technologies:</strong> HTML, CSS, JavaScript, Bootstrap, Python, Django, Django Allauth, SQLite3</p>
    <p>
      Created a dynamic and efficient E-commerce platform with user authentication, efficient cart management and product categorization.
      Implemented product cataloging, enhanced security features, collaborated with team for UI improvements,
      and proactively fixed performance bottlenecks to improve reliability.
    </p>
    <p style="visibility: hidden;">
      🔗 <a href="https://github.com/narasimha-peddanagalla/ecommerce-shopping-cart" target="_blank">GitHub Repo</a>
    </p>
  </div>
</div>
