.scroll-top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #facc15;
  color: black;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 9999;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  transition: transform 0.3s ease;
}

.scroll-top-btn:hover {
  transform: scale(1.1);
}
