<div class="hero-section d-flex flex-column align-items-center justify-content-center text-white text-center">
  <h1 class="display-3 fw-bold mb-3">Peddanagalla Narasimha</h1>
  <!-- <h4 class="mb-4 text-secondary">Aspiring Java Full Stack Developer</h4> -->
   <h4 class="mb-4 text-secondary">
  I am <span #typedText class="text-warning"></span>
  </h4>

  <p class="lead mb-4" style="max-width: 700px;">
    Skilled in Java, J2EE, Spring Boot, and Angular with hands-on project experience. Eager to contribute and grow in dynamic software teams.
  </p>

  <div class="mb-4">
    <a href="https://github.com/narasimha-peddanagalla" target="_blank" class="text-white me-4 fs-3">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://linkedin.com/in/peddanagalla-narasimha" target="_blank" class="text-white fs-3">
      <i class="fab fa-linkedin"></i>
    </a>
  </div>

  <div>
    <!-- <a href="#contact" class="btn btn-warning me-3 fw-bold px-4">Hire Me</a> -->
    <!-- <a href="assets/P.Narasimha-Resume.pdf" class="btn btn-light fw-bold px-4" download>Download Resume</a> -->
    <button (click)="scrollToContact()" class="btn btn-warning me-3 fw-bold px-4">Hire Me</button>
    <a href="https://raw.githubusercontent.com/narasimha-peddanagalla/resume/refs/heads/main/P.Narasimha-Resume.pdf"
   target="_blank" class="btn btn-light fw-bold px-4">Download Resume</a>
  </div>
</div>
